# ?????? ????? ???????????? ??? ?????????? VkBot.
# ???????????? ???? ???? ? application.properties ? ???????? ???????? ?? ????,
# ???? ????????? ?????????? ?????????, ??? ???????? ????.

spring.application.name=VkBot

vk.appId=${VK_APP_ID}
vk.secureKey=${VK_SECURE_KEY}
vk.serviceKey=${VK_SERVICE_KEY}
vk.redirectUri=${VK_REDIRECT_URI}
vk.groupId=${VK_GROUP_ID}
vk.communityToken=${VK_COMMUNITY_TOKEN}